.my-navbar {
  background-color: #2e5e4e !important;
  padding-left: 16px;
  padding-right: 16px;
  color: white !important;
}

#logo-desktop {
  width: 200px;
  margin-right: 24px;
}

.logo-mobile {
  display: none;
}

#basic-navbar-nav a {
  color: white !important;
  font-family: "Quicksand", sans-serif;
}

.navbar-toggler {
  border-color: white !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.me-auto {
  color: white !important;
}

.responsive-img {
  display: block;
}

@media (max-width: 990px) {
  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    font-family: "Changa One", sans-serif;
    font-weight: 100;
  }
}
