.my-navbar {
  background-color: #2e5e4e !important;
  padding-left: 16px;
  padding-right: 16px;
  color: white !important;
}

.navbar-title {
  color: brown !important;
}

#logo-nav {
  width: 300px;
  height: 90px;
}

#basic-navbar-nav a {
  color: white !important;
  font-family: "Quicksand", sans-serif;
}

.me-auto {
  color: white !important;
}
