#main-dashboard {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  text-align: center;
}

#left-part {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  text-align: left;
}

#statistic-container {
  height: 200px;
  width: 100%;
  background-color: #1e90ff;
}

#btn-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  font-family: "Quicksand", sans-serif;

  border-radius: 5px;
  cursor: pointer;
}

#btn-add-travel,
#btn-add-place-to-visit {
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 1rem 1.5rem;
}

#btn-add-travel {
  background-color: #2e5e4e;
  color: white;
}

#btn-add-place-to-visit {
  background-color: #1b3b5f;
  color: white;
}

#text-landing-page h2 {
  font-family: "Changa One", sans-serif;
  font-size: 36px;
  margin-bottom: 12px;
}

#text-landing-page h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  margin-bottom: 32px;
}

#main-dashboard img {
  height: 50%;

  margin: 100px;
  margin-top: 150px;
}

@media (max-width: 640px) {
  #main-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-dashboard img {
    width: 350px;
  }

  #text-landing-page h2 {
    margin-bottom: 14px;
    font-size: 24px;
  }

  #text-landing-page h3 {
    font-size: 16px;
  }

  #left-part {
    margin: 0 20px;
  }
}

@media (max-width: 1000px) {
  #btn-container {
    display: flex;
    flex-direction: column;
  }
}
