#top-banner {
  display: flex;
  flex-direction: column;
}

#visited-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 0 10px;
  align-items: center;
}

#btn-add {
  border-radius: 25px;
  border: none;
  background-color: #ffcc00;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
  font-family: "Quicksand", sans-serif;
}

#search-bar {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.6s ease;
  margin: 12px 8px;
}

#searchbar-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  background-color: #ccc;
  height: 1px;
  width: 90%;
  border: none;
}

#visited-btn h3 {
  font-family: "Changa One", sans-serif;
}
